# Лабораторная работа №1 <a id='intro'></a>

- [Загрузка датасета](#1)
- [Вывод первой 20-ки](#2)
- [Обзор данных](#3)
- [Оценка данных](#4)
- [Вывод столбцов](#5)
- [Поиск пропусков](#6)
- [Поиск дубликатов](#7)
- [Приведение типов данных](#8)
- [Сводные таблицы](#9)
- [Группировка данных](#10)
- [Выводы](#11)

## Загрузка датасета <a id='1'></a>
В начале необходимо загрузить датасет используя библиотеку **pandas**.

**Pandas** - это библиотека языка Python, предназначенная для анализа данных. Интересный факт заключается в том, что данная библиотека строится поверх другой библиотеки, а именно **NumPy**.

Что же касается лабораторной работы, то для выполнения этого шага нужно подключить данную библиотеку, предварительно её конечно же установив на персональный компьютер, и уже при помощи встроенных функций данной библиотеки считать таблицу из **CSV** файла и сохранить это в базу данных, называемую `"DataFrame"`.

[Вернуться в начало](#intro)

In [16]:
import pandas as pd

read_csv = pd.read_csv('9visits.csv', sep=",")
data = pd.DataFrame(read_csv)

## Вывод первых 20 строк <a id='2'></a>
Вывод первых 20 строк осуществляется при помощи функции `".head()"` с передаваемым параметром `20`.

[Вернуться в начало](#intro)

In [8]:
data.head(20)

,User Id,Region,Device,Channel,Session Start,Session End
0,981449118918,United States,iPhone,organic,2019-05-01 02:36:01,2019-05-01 02:45:01
1,278965908054,United States,iPhone,organic,2019-05-01 04:46:31,2019-05-01 04:47:35
2,590706206550,United States,Mac,organic,2019-05-01 14:09:25,2019-05-01 15:32:08
3,326433527971,United States,Android,TipTop,2019-05-01 00:29:59,2019-05-01 00:54:25
4,349773784594,United States,Mac,organic,2019-05-01 03:33:35,2019-05-01 03:57:40
5,90242400005,United States,iPhone,RocketSuperAds,2019-05-01 07:14:52,2019-05-01 08:19:56
6,43958116050,United States,Android,organic,2019-05-01 09:03:21,2019-05-01 10:08:39
7,185365244969,United States,iPhone,organic,2019-05-01 09:37:03,2019-05-01 10:00:43
8,446013509831,United States,iPhone,RocketSuperAds,2019-05-01 10:26:00,2019-05-01 10:59:17
9,100970711362,United States,Mac,TipTop,2019-05-01 04:39:53,2019-05-01 04:57:05
10,589320347244,United States,Mac,YRabbit,2019-05-01 18:39:23,2019-05-01 20:03:15
11,370455852550,United States,iPhone,organic,2019-05-01 14:44:30,2019-05-01 15:41:24
12,141837741427,United States,Mac,FaceBoom,2019-05-01 06:20:48,2019-05-01 06:54:33
13,924308873083,United States,iPhone,organic,2019-05-01 20:03:52,2019-05-01 20:19:34
14,774938424092,United States,iPhone,MediaTornado,2019-05-01 14:01:40,2019-05-01 14:29:24
15,244878945432,United States,iPhone,MediaTornado,2019-05-01 01:59:41,2019-05-01 02:21:50
16,157877034671,United States,Mac,organic,2019-05-01 10:25:16,2019-05-01 10:35:03
17,321335574694,United States,iPhone,YRabbit,2019-05-01 09:49:32,2019-05-01 10:10:02
18,524629398969,United States,Mac,organic,2019-05-01 17:06:46,2019-05-01 18:05:31
19,136226778935,United States,PC,organic,2019-05-01 19:34:45,2019-05-01 19:39:24

## Обзор данных <a id='3'></a>

В данной части будет проведен обзор имеющихся данных в датафрейме.

Итак, в данной таблице существует 6 основных столбцов:

- `User ID` - уникальный идентификатор пользователя: случайный набор цифр который выдается каждому пользователю, который заходит на сайт;
- `Region` - страна пользователя: определяет страну, в которой находился пользователь, когда он заходил на сайт;
- `Device` - категория устройства пользователя: тип устройства, через которое пользователь зашел на сайт;
- `Channel` - идентификатор рекламного источника, из которого пришел пользователь;
- `Session start` - дата и время начала сессии: т.е. время, когда пользователь впервые зашел на сайт;
- `Session end` - дата и время окончания сессии: т.е. время, когда пользователь покинул сайт.

Также, после конвертации из CSV-файла в датафрейм, появился еще один незначащий столбец - порядковый номер записи.

Таким образом можно сделать вывод о том, что данный датафрейм относиться к собранным данным некоторого сайта, на который пользователи попадали посредством просмотра рекламы, т. е. пользователи видели рекламный баннер, кликали на него и переходили как раз на этот сайт.

[Вернуться в начало](#intro)

## Оценка данных <a id='4'></a>

Здесь будет проведен оценочный анализ данный при помощи метода `".info()"`.

Данная функция возвращает название столбцов, типы данных, количество ненулевых объектов в каждом столбце. Проще говоря, при помощи данного метода можно провести быстрый анализ данных на самые основные моменты базы данных

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309901 entries, 0 to 309900
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   User Id        309901 non-null  int64
 1   Region         309901 non-null  object
 2   Device         309901 non-null  object
 3   Channel        309901 non-null  object
 4   Session Start  309901 non-null  object
 5   Session End    309901 non-null  object
dtypes: int64(1), object(5)
memory usage: 14.2+ MB

Исходя из выводимой данным методом информацией, можно сделать вывод о том, что типов данных всего лишь 2: **целые числа** и **текстовые поля**.

Далее в выходном сообщении показано, что в данном датафрейме **отсутствуют** нулевые значения в каждом столбце данных.

Но есть и незначительная ошибка в датафрейме, которая показана на выводе после выполения метода - названия столбцов имеют в себе пробелы, что не должно быть. Если делать максимально все правильно, то названия лучше писать без пробелов, в **"змеином_регистре"**.

[Вернуться в начало](#intro)

## Вывод столбцов <a id='5'></a>

В этом разделе будут выведены названия всех столбцов.

Для вывода названий столбцов обычно используют метод `.columns`, который выводит в ответом сообщении названия всех столбцов в виде списка.

In [4]:
data.columns

Index(['User Id', 'Region', 'Device', 'Channel', 'Session Start',
       'Session End'],
      dtype='object')

Как уже было написано ранее, в названии столбцов есть одна небольшая ошибка, а именно что **названия некоторых столбцов имеют в себе пробелы**. Решается эта проблема очень просто, нужно всего лишь записать названия столбцов в *"змеином_регистре"*.

Для переименования столбцов используют функцию `.rename(columns={'Название1': 'измененное_название'})`.

[Вернуться в начало](#intro)

In [24]:
data = data.rename(columns={'User Id': 'user_id', 'Session Start': 'session_start', 'Session End': 'session_end'})

## Поиск пропусков <a id='6'></a>

В данной части будем искать пропуски в данных.

При поиске пустых данных очень часто используют специальный метод `.isna()`, который найдет все пропуски в таблице. 

Но проблема использования данного метода в том, что он просматривает всю таблицу и если где-то отсутствует хоть одно значение, то он выведет *True*, иначе *False*. Если же необходимо посчитать количество пропущенных данных, то вместе с ним пишут метод `.sum()`.

Таким образом, итоговая команда выглядит так, как показано ниже:

In [3]:
data.isna().sum()

User Id          0
Region           0
Device           0
Channel          0
Session Start    0
Session End      0
dtype: int64

Исходя из полученного ответа, можно сделать вывод о том, что с набором данных мне повезло, ведь **ни в одном столбце нету пустых ячеек**.

[Вернуться в начало](#intro)

## Поиск дубликатов <a id='7'></a>

Займемся поиском дубликатов.

Поиск дубликатов обычно делиться на 2 типа: *поиск явных дубликатов* и *поиск неявных дубликатов*. Начнем с первого случая.

Для поиска явных дубликатов используется функция `.duplicated()`, которая просто ищет дубликаты. По умолчанию данный метод признает дубликатами те строки, которые полностью повторяют уже встречавшиеся в датасете. 
Т.е. метод, как и в случае с методом `.isna()`, выводит значения либо **True**, либо **False**. Поэтому для понимания количества дубликатов добавляют, как и в предыдущем случая, функцию `.sum()`.

In [7]:
data.duplicated().sum()

0

Получается, что **полностью повторяющихся строк в данном датасете нету**, что хорошо.

Теперь займемся поиском неявных дубликатов. Для этого используют метод `.unique()` для каждого столбца датасета. И чтобы вручную не писать этот метод для каждого столбца, гораздо проще будет создать цикл, который будет проходить по массиву, созданному по всем названиям столбцов.

In [16]:
col = data.columns
for column in col:
    print(data[column].unique())

[981449118918 278965908054 590706206550 ... 519022174024 354394066496
 279181973476]
['United States' 'UK' 'France' 'Germany']
['iPhone' 'Mac' 'Android' 'PC']
['organic' 'TipTop' 'RocketSuperAds' 'YRabbit' 'FaceBoom' 'MediaTornado'
 'AdNonSense' 'LeapBob' 'WahooNetBanner' 'OppleCreativeMedia'
 'lambdaMediaAds']
['2019-05-01 02:36:01' '2019-05-01 04:46:31' '2019-05-01 14:09:25' ...
 '2019-10-31 01:40:48' '2019-10-31 07:37:34' '2019-10-31 14:17:43']
['2019-05-01 02:45:01' '2019-05-01 04:47:35' '2019-05-01 15:32:08' ...
 '2019-10-31 01:41:31' '2019-10-31 07:37:55' '2019-10-31 15:17:04']

В ходе поиска неявных дубликатов обычно ищут:
- альтернативные варианты написания одного и того же значения;
- ошибочные написания.

И как видно из выводимого сообщения выше, в данном датасете **отсутствуют неявные дубликаты**.

И подводя итог, можно сделать вывод о том, что **в данном датасете нету никаких дубликатов**, ни явных, ни неявных.

[Вернуться в начало](#intro)

## Приведение типов данных <a id='8'></a>

Проверим, все ли типы данных соответствуют действительности.

Чтобы начать приводить данные в порядок, для начала необходимо оценить данные методом `.info()` и вывести несколько строк данных методом `.head()` с некоторым параметром, например `10`.

In [17]:
data.info()
data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309901 entries, 0 to 309900
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        309901 non-null  int64
 1   Region         309901 non-null  object
 2   Device         309901 non-null  object
 3   Channel        309901 non-null  object
 4   session_start  309901 non-null  object
 5   session_end    309901 non-null  object
dtypes: int64(1), object(5)
memory usage: 14.2+ MB

,user_id,Region,Device,Channel,session_start,session_end
0,981449118918,United States,iPhone,organic,2019-05-01 02:36:01,2019-05-01 02:45:01
1,278965908054,United States,iPhone,organic,2019-05-01 04:46:31,2019-05-01 04:47:35
2,590706206550,United States,Mac,organic,2019-05-01 14:09:25,2019-05-01 15:32:08
3,326433527971,United States,Android,TipTop,2019-05-01 00:29:59,2019-05-01 00:54:25
4,349773784594,United States,Mac,organic,2019-05-01 03:33:35,2019-05-01 03:57:40
5,90242400005,United States,iPhone,RocketSuperAds,2019-05-01 07:14:52,2019-05-01 08:19:56
6,43958116050,United States,Android,organic,2019-05-01 09:03:21,2019-05-01 10:08:39
7,185365244969,United States,iPhone,organic,2019-05-01 09:37:03,2019-05-01 10:00:43
8,446013509831,United States,iPhone,RocketSuperAds,2019-05-01 10:26:00,2019-05-01 10:59:17
9,100970711362,United States,Mac,TipTop,2019-05-01 04:39:53,2019-05-01 04:57:05

Исходя из выводимых сообщений, можно сделать вывод о том, что в данном датасете есть 2 столбца имеют неверный тип данных, а именно столбцы `session_start` и `session_end` должны иметь тип данных *datetime*, а не *object*.

Превращение в необходимый тип данных происходит при помощи метода `to_datetime()`. Для создания определённого формата строки использую целый набор специальных параметров:
- %d - номер дня;
- %m - номер месяца;
- %Y - номер года;
- ' ' - разделитель даты и времени
- %H - часы в 24-часовом формате;
- %M - минуты;
- %S - секунды.

В данном датасете формат даты выглядит следующим образом: `'Y-%m-%d %H:%M:%S'`.

Учитывая все это, изменим тип данных по данному образцу.

In [25]:
data['session_start'] = pd.to_datetime(data['session_start'], format='%Y-%m-%d %H:%M:%S')
data['session_end'] = pd.to_datetime(data['session_end'], format='%Y-%m-%d %H:%M:%S')

И проверим получившийся результат воспользовавшись функцией `'.info()'`.

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309901 entries, 0 to 309900
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        309901 non-null  int64
 1   Region         309901 non-null  object
 2   Device         309901 non-null  object
 3   Channel        309901 non-null  object
 4   session_start  309901 non-null  datetime64[ns]
 5   session_end    309901 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 14.2+ MB

Как видно из последнего ответа, теперь последние два столбца имеют формат данных `'datetime'`, который отличный от изначального `'object'`. Следовательно, конвертация типа данных прошла успешно.

[Вернуться в начало](#intro)

## Сводные таблицы <a id='9'></a>

Придумать и реализовать сводные таблицы.

В данном разделе будет показан процесс создания и реализации сводной таблицы по имеющемуся датасету.

Для начала необходимо придумать, для каких данных будет создана сводная таблица. 

Первым делом стоит сразу понять, что **значения** в сводной таблице могут быть только **числовые типы данных**. Поскольку числовым столбцом в датасете является только `'user_id'`, то в качестве функции, применяемой к значениям, логично применить `'count'`, которая считает количество значений.

Далее нужно определить, какие столбцы из датафрейма будут в сводной таблице строками, а какие столбцами. И из-за того, что в датафрейме несколько столбцов строк, то отсюда следует некоторая вариабельность при создании сводных таблиц. 

Так, например в этой сводной таблице строками является `'Channel'`, а столбцами `'Device'`:

In [48]:
table1 = data.pivot_table(index=['Channel'], columns='Device', values='user_id', aggfunc='count')
table1

Device              Android    Mac     PC  iPhone
Channel
AdNonSense             1993    708   2760    1430
FaceBoom               9793  12262   5101   21866
LeapBob                5145   1787   6821    3260
MediaTornado           1759   2342    902    3875
OppleCreativeMedia     4660   1800   6849    3485
RocketSuperAds         2378   3380   1212    5754
TipTop                11424  13153   5609   24608
WahooNetBanner         6404   1956   8160    3945
YRabbit                1937   2295   1008    3813
lambdaMediaAds         1830    726   2551    1400
organic               25267  21613  21713   39167

В данной таблице приводится статистика по количеству клиентов, которые заходили на сайт от различных рекламодателей и с различных устройств. И судя по этой таблице, можно составить топ 3 рекламодателей по количеству клиентов:
- 1 место: **organic**;
- 2 место: **TipTop**;
- 3 место: **FaceBoom**.

А в этой сводной таблице столбцами является `'Region'`, а строками `'Device'`:

In [47]:
table2 = data.pivot_table(index=['Device'], columns='Region', values='user_id', aggfunc='count')
table2

Region   France  Germany     UK  United States
Device
Android   10477     9148  10775          42190
Mac        3815     3284   3563          51360
PC        14145    12282  14790          21469
iPhone     6959     6045   7291          92308

Из данной таблицы видно, что чаще всего пользователи заходили из страны **United States**, что в целом и логично, ведь там население больше, чем в любой другой стране из этого списка.

Также, исходя из данных в этой таблице, можно заметить, что устройством **Iphone** чаще пользовались в стране **UK**, нежели в стране **France**.

А в последней таблице столбцами являются `'Region'`, ну а строками являются `'Channel'`:

In [51]:
table3 = data.pivot_table(index=['Channel'], columns='Region', values='user_id', aggfunc='count', fill_value=0)
table3

Region              France  Germany     UK  United States
Channel
AdNonSense            2381     2183   2327              0
FaceBoom                 0        0      0          49022
LeapBob               5869     4892   6252              0
MediaTornado             0        0      0           8878
OppleCreativeMedia    5808     4865   6121              0
RocketSuperAds           0        0      0          12724
TipTop                   0        0      0          54794
WahooNetBanner        7033     6324   7108              0
YRabbit                  0        0      0           9053
lambdaMediaAds        2241     1976   2290              0
organic              12064    10519  12321          72856

Исходя из данных, приведенных в этой таблице, можно сделать заключение о том, что не все рекламодатели работают во всех странах. Допустим, компания *FaceBoom* работает исключительно с пользователями из **United States**, а *lambdaMediaAds* - со всеми, кроме **United States**.

Таким образом, создав эти 3 сводные таблицы, можно сделать вывод о том, что *на основе этого датасета можно создать 3 сводные таблицы*.

Теперь докажем, что больше не получится. 

Поскольку для 1 сводной таблицы требуется 2 текстовых столбца и 1 со значениями, а всего в датасете получается 3 текстовых и 1 со значениями, то получается всего таблиц можно создать число сочетаний из 3 по 2 (С из 3 по 2). А это в свою очередь равняется 3!/(2! * (3-2)!), что равно значению 3.

Таким образом, было доказано, что всего сводных таблиц можно было создать 3, все из которых были расписаны выше.

**Ч.Т.Д.**

[Вернуться в начало](#intro)

## Группировка данных <a id='10'></a>

Разделить данные по какому-либо признаку.

В библиотеке pandas данные группируются при помощи метода `'groupby()'`, который:
- принимает в качестве аргумента название столбца, по которому нужно сгруппировать;
- возвращает объект типа - DataFrameGroupBy. Это сгруппированные данные.
Также к этому методу можно применять дополнительно методы `'count()'` или `'sum()'`.

Попробуем создать 2 группировки при помощи данного метода.

Первая группировка будет основана на столбце `'Region'` и будет выглядеть следующим образом:

In [25]:
group1 = data.groupby(['Region']).count()['user_id']
group1

Region
France            35396
Germany           30759
UK                36419
United States    207327
Name: user_id, dtype: int64

Данная группировка показывает количество записей в датасете по странам.

Вторая группировка будет создана на столбце `'Device'` и выглядит следующим образом:

In [26]:
group2 = data.groupby('Device').count()['user_id']
group2

Device
Android     72590
Mac         62022
PC          62686
iPhone     112603
Name: user_id, dtype: int64

Эта группировка показывает количество пользователей, использующих определённый тип устройства.

[Вернуться в начало](#intro)

## Выводы <a id='11'></a>

В ходе выполнения данной лабораторной работы я впервые познакомился с принципом создания страниц в Jupiter-блокноте. Также, осуществил обработку данных csv-файла, выявил и устранил проблемы в этом файле. Работу эту я проводил при помощи языка **Python** и библиотеки **Pandas**, принцип работы с которой я вспомнил в ходе выполнения лабораторной работы.

В данной лабораторной работе мне пришлось столкнуться с набором данных, основанным на количестве посещений какого-то сайта пользователями. В этом датасете приводится информация о посетителях: устройство, с которого они заходили; страна проживания; рекламный ресурс, благодаря которому они попали на сайт; время начала и время окончания сессии пребывания на сайте.

Далее, была проведена предварительная обработка данных, т.е. проверка правильности написания названий столбцов (в названии присутствовали недочеты), поиск пропусков (т.е. пустых ячеек, коих , к счастью, не оказалось), поиск явных и неявных дубликатов (т.е. повторяющихся строк либо опечаток при написании данных) и приведение типов данных (некоторые столбцы имели неверный тип данных).

Затем, были созданы 3 сводные таблицы, которые отражали следующую информацию:
- Количество пользователей, пришедших на сайт от различных рекламных ресуров;
- Количество пользователей, заходивших на ресурс из различных стран с различных устройств;
- Количество пользователей, посетивших сайт по странам от различных рекламодателей.

И в конце выполнения работы были созданы 2 группировки данных, показывающие:
- Количество записей в датасете по странам;
- Количество пользователей, использующих определённый тип устройства.

И подводя итог ко всей лабораторной работе, можно сделать вывод о том, что в ходе выполнения работы я занялся предварительной обработкой и последующим анализом данных.

[Вернуться в начало](#intro)